/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-mar-2017, 11.11.51
    Author     : Sergio
*/

body
{
    background-color: #d5d2cc;
    font: 17px/25px "Palatino Linotype", Arial, sans-serif;
}



h1
{
    color: #111111;
    font:28px/40px "Palatino Linotype",Arial, sans-serif;
    font-weight: bold;
}

h2
{
    color: #111111;
    font:21px/40px "Palatino Linotype",Arial, sans-serif;
    font-weight: bold;
}

h3
{
    color: #111111;
    font:16px/40px "Palatino Linotype",Arial, sans-serif;
    font-weight: bold;
}

a:link, a:visited 
{
    text-decoration: none; 
  
}

a:hover
{
  font-weight: bold;
  
  
}

nav
{
    background-color:#323232;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,0.3); /* x,y, dimensione {colora ombra}*/ 
    height: 60px;
    width:70%;
    margin-left:250px
       
}
nav ol, nav li
{

    list-style-type:none; /*niente stile per lista (toglie i numeri)*/
    padding: 0px;
    display: inline-block;
   
  
}


nav li a{
  
  padding:18px 30px;
  color:#ffffff;
  
}

nav li .active
{
    text-decoration: none;
    background-color: #009933;
    
}

/*BACHECA*/
.rilievo h2
{
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding:0px;
    padding-left:3px;
    border: 1px solid;
    border-color:#009933;
    border-right: none;
    border-left:none;
}
#sidebar
{
    float:left;
    width: 170px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-left:34px;
    position:fixed;
    font-weight: bold;
}
#p_online p 
{
  margin-left:6px;
}
#p_online p::before
{
    content: url(img/utente.jpg);
    
}


.gr1::before
{
    content: url(img/netflix.png);
    
    
}

.gr2::before
{
    content: url(img/pen.jpg);
}
header
{
    font: 35px/50px "Comic Sans MS", Arial, sans-serif;
    text-align: left;
    background-color: #323232;;
    float:left;
    width:173px;
    height:60px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-left:34px;
    text-align:center;
    
}

#title h1
{
    color:#ffffff;
    
    /*color:#009933;*/
    margin-top:6px;
    
}

.profilo
{
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    margin-left:250px;
    width:70%;
    margin-top:10px
}

.image
{
   margin-left:8px;
   padding-top:14px;
  
}
.image img
{
  
    border: 3px solid;
    border-radius:15px 30px;
    width: 80px;
    border-color: #009933;
}

.name
{  
   
  
  position: relative;
  top:-100px;
  left: 105px;
   
}

.content p
{
    position:relative;
    top:-50px;
    margin-left:8px;
}

.content img{
    margin-left:140px;
   
}

.content a
{
  position: relative;
  top:-50px;
  left: 10px;
}

/*FINE BACHECA*/

#formLogin
{
    
    margin:auto;
    background-color: #ffffff;
    width:340px;
    height:200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.6);
    padding-left:160px;
}
#formLogin input
{
    
    margin-bottom:10px;
}

#formLogin button
{
    margin-top:10px;
    width:175px;
    display:block;
   
}
#formLogin label
{
    font-size:20px;
    font-weight: bold;
}
#formLogin label::after, label::before
{
    content:'\A';
    white-space: pre;
    font-size: 20px;
    margin-top:5px;font-size:20px;
    font-weight: bold;
}

#textLogin
{
   text-align:center;
   font-weight: bold;
   font-size:20px;
}